* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}
.container,
.container2 {
    height: 100vh;
    background-color: #dedede;
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: center;
}

.quadrado {
    width: 200px;
    height: 200px;
    background-color: blue;
}

.container2 {
    background-color: blue;
    position: relative;
    z-index: 9;

    h2 {
        font-size: 40px;
        font-family: Roboto, sans-serif;
        color: white;
    }
}
